body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.recivault {
  align-content: center;
  color: aliceblue;
}

.saved_recipes {
  align-content: center;
  color: aliceblue;
}

.form-group {
  align-content: center;
  color: aliceblue;
}
