{% extends 'base.html' %}

{% block head %}
<title>ReciVault</title>
{% endblock %}


{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="recivault" style="text-align: center">
    <h1>Welcome to ReciVault!</h1>
    Preserving Culinary Delights <br><br>
</div>
<div class="saved_recipes" style="text-align: center">
    {% if recipes|length < 1 %}
        <h4>There are currently no saved recipes. Add your's first one below!</h4>
        <button type="button" class="btn btn-lg" onclick="window.location.href='/recipes';">Add Recipe</button>
    {% else %}
    <table border=2 style="margin-left:auto; margin-right:auto; background-color: rgba(0,0,0,0.7);">
        <tr>
            <th>Title</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <th>Action</th>
        </tr>
        {% for recipe in recipes %}    
            <tr>
                <td style="vertical-align: top; text-align: left;"><b>{{ recipe.title }}</b></td>
                <td style="vertical-align: top; text-align: left;">{{ recipe.ingredients | replace('\n', '<br> ') | safe }}</td>
                <!-- <td style="vertical-align: top; text-align: left;">
                    <ul>
                      {% for line in recipe.ingredients.split('\n') %}
                      <li>{{ line }}</li>
                      {% endfor %}
                    </ul>
                  </td> -->
                <!-- <td>{{ recipe.method }}</td> -->
                <!-- <td>{{ recipe.method | safe }}</td> -->
                <td style="vertical-align: top; text-align: left;">
                    {{ recipe.method | replace('\n', '<br> ') | safe }} 
                    <br> <br>
                </td>
                <!-- <td><?php echo nl2br($recipe['method']); ?></td> -->
                <td>
                    <!-- <a href="/recipe/{{recipe.id}}">Update</a> -->
                    <button type="button" class="btn btn-lg" onclick="window.location.href='/recipe/{{recipe.id}}';">UPDATE</button>
                    <br>
                    <!-- <a href="/recipe/{{recipe.id}}">Delete</a> -->
                    <button type="button" class="btn btn-lg" onclick="deleteRecipe('{{recipe.id}}');">DELETE</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    
</div>
<script>
  function deleteRecipe(recipeId) {
  fetch(`/recipe/${recipeId}`, {
    method: 'DELETE'
  })
  .then(response => {
    if (response.ok) {
      // Recipe deleted successfully
      // Remove the corresponding recipe element from the DOM
      const recipeElement = document.getElementById(`recipe-${recipeId}`);
      if (recipeElement) {
        recipeElement.remove();
      }
      // Reload the page to reflect the updated recipe list
      window.location.reload();
    } else {
      // Failed to delete recipe, handle the error case
      // Display an error message or perform any other error handling
      console.error('Failed to delete recipe');
    }
  })
  .catch(error => {
    // Error occurred during the delete request, handle the error
    // Display an error message or perform any other error handling
    console.error('Error occurred during delete request', error);
  });
}

</script>

    
{% endblock %}