{% extends 'base.html' %}

{% block head %}
<title>{{recipe.title}}</title>
{% endblock %}

{% block body %}
<br>
<div class="recivault" style="text-align: center; background-color:  rgba(0,0,0,0.7);">
    <h1>{{recipe.title}}</h1>
</div>
<br>
<div class="preparation recivault" style="text-align: center; background-color: rgba(0,0,0,0.7);" >
    <h2><b>Ingredients</b></h2>
    {{recipe.ingredients | replace('\n', '<br> ') | safe }}
    <br><br>
    <h2><b>Instructions</b></h2>
    {{recipe.method | replace('\n', '<br> ') | safe }}
    <br><br>
    <!-- <a href="/update_recipe/{{recipe.id}}">Update</a>
    <a href="/delete_recipe/{{recipe.id}}">Delete</a> -->
    <button type="button" class="btn btn-lg" onclick="window.location.href='/update_recipe/{{recipe.id}}';">UPDATE</button>
    <button type="button" class="btn btn-lg" onclick="window.location.href='/delete_recipe/{{recipe.id}}';">DELETE</button>
    <br><br>
</div>

{% endblock %}