{% extends 'base.html' %}

{% block head %}
<title>{{recipe.title}}</title>
{% endblock %}

{% block body %}
<br>
<div class="recivault" style="text-align: center; background-color:  rgba(0,0,0,0.7);">
    <h1>{{recipe.title}}</h1>
</div>
<br>
<div class="preparation recivault" style="text-align: center; background-color: rgba(0,0,0,0.7);" >
    <h2><b>Ingredients</b></h2>
    {{recipe.ingredients | replace('\n', '<br> ') | safe }}
    <br><br>
    <h2><b>Instructions</b></h2>
    {{recipe.method | replace('\n', '<br> ') | safe }}
    <br><br>
    <!-- <a href="/update_recipe/{{recipe.id}}">Update</a>
    <a href="/delete_recipe/{{recipe.id}}">Delete</a> -->
    <button type="button" class="btn btn-lg" onclick="window.location.href='/recipe/{{recipe.id}}';">UPDATE</button>
    <button type="button" class="btn btn-lg" onclick="deleteRecipe('{{recipe.id}}');">DELETE</button>
    <br><br>
</div>
<script>
    function deleteRecipe(recipeId) {
      fetch(`/recipe/${recipeId}`, {
        method: 'DELETE'
      })
      .then(response => {
        if (response.ok) {
          // Recipe deleted successfully
          // Remove the corresponding recipe element from the DOM
          const recipeElement = document.getElementById(`recipe-${recipeId}`);
          if (recipeElement) {
            recipeElement.remove();
          }
          // Fetch and update the recipe list from the server
          fetchRecipeList();
        } else {
          // Failed to delete recipe, handle the error case
          // Display an error message or perform any other error handling
          console.error('Failed to delete recipe');
        }
      })
      .catch(error => {
        // Error occurred during the delete request, handle the error
        // Display an error message or perform any other error handling
        console.error('Error occurred during delete request', error);
      });
    }
    
    function fetchRecipeList() {
      fetch('/recipe-list')
        .then(response => response.text())
        .then(html => {
          // Update the recipe list container with the fetched HTML content
          const recipeListContainer = document.getElementById('recipe-list-container');
          if (recipeListContainer) {
            recipeListContainer.innerHTML = html;
          }
        })
        .catch(error => {
          // Error occurred during the fetch request, handle the error
          // Display an error message or perform any other error handling
          console.error('Error occurred during fetch request', error);
        });
    }
    </script>
    
    
{% endblock %}